<div style="text-align: center;" *ngIf="seller">
  <img class="card-img-top" (click)="onVisitSellerDetails(seller)" [src]="seller.imagePath" style="height: 400px; width: 470px; margin-top: 5px;" />
  <div class="card-block">
    <a (click)="onVisitSellerDetails(seller)">
      <h4 class="card-title">
      {{seller.name}}
      </h4>
    </a>
    <p class="card-text">{{seller.category}}</p>
    <p class="card-text">
      <small class="text-muted">
        <button class="btn btn-primary" (click)="onEdit()">Breyta söluaðila</button>
      </small>
    </p>
  </div>
</div>
