<div class="header">
  <h1 class="text-center" id="headerTitle">
    {{title}}
  </h1>
</div>

<main>
<router-outlet></router-outlet>
</main>

<div class="row jumbotron">
  <div class="col-md-2"></div>
  <div class="col-md-5">
      <h5 class="footerText">HÖFUNDAR</h5>
      <div class="list-group">
        <a class="grey-text text-lighten-3" href="mailto:johannas15@ru.is?Subject=You%20are%20awesome">Jóhanna María Svövudóttr</a>
        <a class="grey-text text-lighten-3" href="mailto:sigrung15@ru.is?Subject=You%20are%20awesome">Sigrún Tinna Gissurardóttir</a>
        <a class="grey-text text-lighten-3" href="mailto:unnuri15@ru.is?Subject=You%20are%20awesome">Unnur Sól Ingimarsdóttir</a>
      </div>
  </div>
  <div class="col-md-3">
      <h5 class="footerText">SKILAVERKEfNI3</h5>
      <img id="cat" src="./witchlogo3.png" style="width:70px;height:70px;">
  </div>
  <div class="col-md-2"></div>
</div>
