@font-face {
    font-family: header;
    src: url(../NightWindSentSample.ttf);
}

#headerTitle {
    font-family: header;
    font-size: 50px;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    font-family: header;
}
