@font-face {
    font-family: header;
    src: url(../NightWindSentSample.ttf);
}
@font-face {
    font-family: slaufu;
    src: url(../Infinite_Stroke.otf);
}
@font-face {
    font-family: lightFont;
    src: url(../GeosansLight.ttf);
}


#headerTitle {
    font-family: header;
    font-size: 50px;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    font-family: header;
}

#witchLogo {
    margin: 30px;
    margin-left: 10px;
}

.footerText {
    font-size: 30px;
    margin: 10px;
}

a {
    color: #3a034f;
}

#cat {
    margin-left: 50px;
}
