<div class="header">
  <h1 class="text-center" id="headerTitle">
    {{title}}
  </h1>
</div>

<main>
<router-outlet></router-outlet>
</main>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1"><img id="witchLogo" src="./witchlogo1.jpg" style="width:100px;height:100px;"></div>
  <div class="footer col-md-6">
      <i class="text-center">The Magical Menagerie is a magical creature shop that in addition to
          selling magical creatures offers advice on animal care and health.
          The shop is very cramped, noisy and smelly, due to every inch being
          covered with cages.</i>
  </div>
  <div class="col-md-3"></div>
</div>
