<div class="modal-header">
  <h4 class="modal-title">Búa til/Breyta söluaðila</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label>Nafn söluaðila: </label>
    <input [(ngModel)]="seller.name" autofocus/>
  </div>
  <div>
    <label>Flokkur: </label>
    <input [(ngModel)]="seller.category"/>
  </div>
  <div>
    <label>Mynd: </label>
    <input [(ngModel)]="seller.imagePath"/>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Hætta við</button>
  <button type="button" class="btn btn-success" (click)="onOk()">Búa til söluaðila</button>
</div>
