<div class="modal-header">
  <h4 class="modal-title">Söluaðili</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form (ngSubmit)="onOk()">
  <div class="modal-body">

    <div class="form-group">
      <label for="name">Nafn söluaðila: </label>
      <input [(ngModel)]="seller.name" autofocus
      required minlength="4" maxlength="50" name="name"/>
    </div>

    <div class="form-group">
      <label for="category">Flokkur: </label>
      <input [(ngModel)]="seller.category" name="category"
      required maxlength="15"/>
    </div>
    <div class="form-group">
      <label for="imagePath">Mynd: </label>
      <input [(ngModel)]="seller.imagePath" name="imagePath"
      placeholder="Slóð á mynd (Hlutföll 1:1)"/>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary butt" (click)="onCancel()">Hætta við</button>
    <button type="submit" class="btn btn-success butt">Samþykkja</button>
  </div>
</form>
