/* You can add global styles to this file, and also import other style files */
.btn-primary {
    background-color: #b388ff;
    border-color: #b388ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #9575cd;
  border-color: #b388ff;
}
