.table {
    padding-top: 30px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    font-family: header;
}

#witchLogo {
    margin: 30px;
    margin-left: 10px;
}

h2 {
  font-family: lightFont;
}

.butt {
  font-family: lightFont;
}
