<div class="row jumbotron">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h2>SÖLUAÐILAR</h2>
  </div>
  <!-- The create sellers modal opening button -->
  <div class="col-md-2">
    <button class="butt btn btn-primary" (click)="addSeller()">Búa til söluaðila</button>
    <template ngbModalContainer></template>
  </div>
  <div class="col-md-2"></div>
</div>



<!-- The table with all the sellers -->
<div class="row table">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card-deck">
      <div *ngFor="let s of sellers" style="width: 490px; height: 580px;">
        <div class="card" style="width: 480px; height: 730;">
          <app-seller
            [seller]="s"
            (sellerUpdated)="onUpdateSeller($event)">
          </app-seller>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Footer -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1"><img id="witchLogo" src="./witchlogo1.jpg" style="width:100px;height:100px;"></div>
  <div class="footer col-md-6">
      <i class="text-center">The Magical Menagerie is a magical creature shop that in addition to
          selling magical creatures offers advice on animal care and health.
          The shop is very cramped, noisy and smelly, due to every inch being
          covered with cages.</i>
  </div>
  <div class="col-md-3"></div>
</div>
