<h2>
    <!-- {{seller.name}} -->
</h2>

<!-- About the seller -->
<div class="row jumbotron">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <div *ngIf="imagePath">
      <img  src="{{imagePath}}" class="img-circle" alt="Image of the seller" style="width: 160px"/>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <h5>
        {{name}}
      </h5>
    </div>
    <div class="row">
      <h5>
          <i>{{category}}</i>
      </h5>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<button class="btn-primary" (click)="onAddProduct(0)"> Add product </button>
<template ngbModalContainer></template>

<!-- The products -->
<div class="row">
  <div class="col-md-2"></div>
  <div class ="col-md-8">
    <ngb-tabset>
      <ngb-tab>
        <template ngbTabTitle>Allar vörur</template>
        <template ngbTabContent>
          <p id="alert" *ngIf="products?.length == 0">
            <ngb-alert type="info" (close)="onCloseAlert()">{{name}} er með 0 vörur skráðar</ngb-alert>
          </p>
          <div *ngFor="let p of products">
            <app-product-card
              [product]="p"
              (productUpdated)="onUpdateProduct($event)">
            </app-product-card>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b>Topp</b> 10</template>
        <template ngbTabContent>
          <div *ngFor="let p of topTenProducts">
            <app-product-card
              [product]="p"
              (productUpdated)="onUpdateProduct($event)">
            </app-product-card>
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-md-2"></div>
</div>
