<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label>Name</label>
    <input [(ngModel)]="product.name" autofocus />
  </div>
  <div>
    <label>Price</label>
    <input [(ngModel)]="product.price"/>
  </div>
  <div>
    <label>Quantity in stock</label>
    <input [(ngModel)]="product.quantityInStock"/>
  </div>
  <div>
    <label>Quantity sold</label>
    <input [(ngModel)]="product.quantitySold"/>
  </div>
  <div>
    <label>Image</label>
    <input [(ngModel)]="product.imagePath"/>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="onOk()">OK</button>
</div>
