.Player {
	position: absolute;
	top: 0em;
	left: 0;
	width: 10em;
	height: 10em;
	background: url('../pictures/onlycat.png');
	background-repeat: no-repeat;
	background-size: 10em;
}

.Pipe {
	position: absolute;
	top: 0em;
	left: 0;
	width: 10em;
	height: 30em;
	background: url('../pictures/Pole1.PNG');
	background-repeat: no-repeat ;
	background-size: 100%;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	border: 5px solid;
	border-color: #009688;
	border-radius: 9px;
	background: #4db6ac;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

/*.Scoreboard-text {
	font-family: 'Comic Sans MS', serif;
	font-size: 2em;
	color: #e0f2f1;
}*/

.Scoreboard-restart {
	margin-top: 1em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid #e0f2f1;
	border-radius: 9px;
	background: none;
	cursor: pointer;
}

.Scoreboard-restart:hover {
	border: 0.4em solid #e0f2f1;
}

.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: #e0f2f1;
}

body {
	background: black;
}
.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: url('../pictures/Background2.PNG'),
							url('../pictures/Background1.PNG');
	background-size: cover;
}
.Ground {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 102.4em;
	height: 1em;
	margin-left: -51.2em;
	margin-top: -7em;
	overflow: hidden;
	background: url('../pictures/pipe.PNG');
	background-size: 3em 1em;
}
