body{
    background-color: lightblue;
    text-align: center;
}

h1{
    font-family: sans-serif;
    color: dimgrey;
}

#myCanvas{
    border: 1px solid grey;
    background-color: white;
}

.button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: grey;
    color: black;
    border: 2px solid grey;
    border-radius: 4px;
}

.button:hover{
    background-color: lightgrey;
}
