body{
    text-align: center;
}

@font-face {
    font-family: myFirstFont;
    src: url(./font/Roboto-Thin.ttf);
}

#myCanvas{
    border: 1px solid grey;
    background-color: white;

}

.widthOp i{
    margin: 8px;
    color: grey;
}

.widthOp i:hover{
    color: black;
}

.head{
    font-family: myFirstFont;
    background-color: #ee6e73;
    color: white;
}

.colors button{
    border: 2px solid;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.colors .redButton{
    border: 2px solid red;
    border-radius: 4px;
    background-color: red;
}

.colors button:hover{
    border-color: white;
}

.colors .blueButton{
    border: 2px solid blue;
    border-radius: 4px;
    background-color: blue;
}

.colors .blackButton{
    border: 2px solid black;
    border-radius: 4px;
    background-color: black;
}

.colors .greenButton{
    border: 2px solid green;
    border-radius: 4px;
    background-color: green;
}

.lowerBar .button{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-color: darkgrey;
    color: black;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

.button:hover{
    background-color: lightgrey;
}

#pen{
    background-image: url(./logos/pen.png);
}
