body{
    text-align: center;
    background-color: #ffcdd2;
}

@font-face {
    font-family: myFirstFont;
    src: url(./font/Roboto-Thin.ttf);
}

#myCanvas{
    border: 1px solid #ee6e73;
    background-color: white;

}

.widthOp i{
    margin: 8px;
    color: #ee6e73;
}

.widthOp i:hover{
    color: grey;
}

.head{
    font-family: myFirstFont;
    background-color: #ee6e73;
    color: white;
}

#colors{
    padding: 16px;
    float: right;
}

.colors button{
    border: 2px solid;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.colors .redButton{
    border: 2px solid red;
    border-radius: 4px;
    background-color: red;
}

.colors button:hover{
    border-color: white;
}

.colors .blueButton{
    border: 2px solid blue;
    border-radius: 4px;
    background-color: blue;
}

.colors .blackButton{
    border: 2px solid black;
    border-radius: 4px;
    background-color: black;
}

.colors .greenButton{
    border: 2px solid green;
    border-radius: 4px;
    background-color: green;
}

.colors .whiteButton{
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
}

.colors .pinkButton{
    border: 2px solid hotpink;
    border-radius: 4px;
    background-color: hotpink;
}

.colors .yellowButton{
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: yellow;
}

.colors .purpleButton{
    border: 2px solid darkviolet;
    border-radius: 4px;
    background-color: darkviolet;
}
.colors .deepRedButton{
    border: 2px solid FireBrick ;
    border-radius: 4px;
    background-color: FireBrick ;
}

.colors .limeButton{
    border: 2px solid LawnGreen;
    border-radius: 4px;
    background-color: LawnGreen;
}

.colors .turquoiseButton{
    border: 2px solid DarkTurquoise;
    border-radius: 4px;
    background-color: DarkTurquoise;
}

.colors .moccasinButton{
    border: 2px solid Moccasin;
    border-radius: 4px;
    background-color: Moccasin;
}

.colors .greyButton{
    border: 2px solid grey;
    border-radius: 4px;
    background-color: grey;
}

.colors .brownButton{
    border: 2px solid saddlebrown;
    border-radius: 4px;
    background-color: saddlebrown;
}

.colors .deepPinkButton{
    border: 2px solid deeppink;
    border-radius: 4px;
    background-color: deeppink;
}

.colors .orangeButton{
    border: 2px solid darkorange;
    border-radius: 4px;
    background-color: darkorange;
}

.lowerBar .button{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-color: #ee6e73;
    color: white;
    border: 2px solid #ee6e73;
    border-radius: 4px;
}

.button:hover{
    background-color: grey;
}

.active {
    background-color: grey !important;
}

.colorActive{
    border-color: white !important;
}

.sizeActive{
    color: grey !important;
}

#pen{
    background-image: url();
}

#inputText{
  position: absolute;
  z-index: 99;
}

.saveSelect{
    background-color: #ee6e73;
    color: white;
    width: 50%;
    height: 30px;
}

.fontSelect{
    background-color: #ee6e73;
    color: white;
    width: 230px;
    height: 30px;
}

.sizeSelect{
    background-color: #ee6e73;
    color: white;
    width: 75px;
    height: 30px;
    margin-top: 15px;
}

.fontChanger{
    display: none;
}

.changeFill{
    display: none;
    border: 2px solid #ee6e73;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #ee6e73;
}

#saveTemplate{
    display: none;
}